:root {
  --color-a: #ffcb00;
  --color-b: #ee280b;
  --color-c: #0da65a; 
}
html {
  scroll-padding-top: 32px;
}

h1 {
  padding-bottom: 20px;
}


.cinemaday-heading section {
  margin-top: 48px;
}

.marker {
  background-color: var(--color-a);
}

.movie-list {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.movie-item {
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.movie-item .header img {
  padding: 2px;
  border-bottom: 1px solid #d8d8d8; 
  border-right: 1px solid #d8d8d8; 
  width: 250px;
}

.movie-item .detail {
  padding: 16px;
}

.movie-item .title {
  display: block;
  font-size: 1.1rem;
  border-bottom: 2px solid var(--color-a);
  margin-bottom: 24px;
}

.movie-item .title-main {
  font-size: 1.1rem;
}

.movie-item .description {
  font-size: 0.85rem;
  line-height: 1.5;
}

.movie-item .article-cta .badge {
  border-radius: 3px;
  border: 1px solid #000;
  padding: 3px;
  margin-bottom: 2px;
}

.cinemaday-heading {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-top: 32px;
  padding: 0px 24px;
  gap: 32px;
}
.cinemaday-heading-info {
  flex: 1;
}
.cinemaday-heading-notice {
  flex: 1;
}

@media only screen and (max-width: 992px) {
  .cinemaday-heading {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .cinemaday-heading-info h1 {
    font-size: 1.8rem;
  }
  .cinemaday-heading-info p {
    line-height: 1.7;
  }
  .movie-item .header img {
    width: 100%;
    border-right: 0; 
  }
  .movie-item {
    flex-direction: column;
    gap: 8px;
  }
}
